:root {
  --neutral900: #2b2620;
  --neutral800: #3e3428;
  --neutral700: #5a4c3c;
  --neutral600: #7a6a57;
  --neutral400: #e4ded5;
  --neutral200: #f2eeea;
  --neutral100: #fbf6ef;
  --neutral50: #fdfbf7;
  --neutral0: #ffffff;
  --sun500: #edb63a;
  --sun300: #f5d98a;
  --sun200: #ffde7a;
  --sun50: #fff4dc;
  --blue500: #5769c6;
  --teracotta700: #9f3e1d;
  --teracotta600: #b7411b;
  --teracotta500: #c25a2e;
  --teracotta400: #e07a3f;
  --rose500: #c04a72;
}
* {
  box-sizing: border-box;
}
.text-preset-1 {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.5px;
}
.text-preset-1-italic {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.5px;
}
.text-preset-2 {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.25px;
}
.text-preset-3 {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.2px;
}
.text-preset-4 {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.1px;
}
.text-preset-4-italic {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0px;
}
.text-preset-5 {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0px;
}
.text-preset-6 {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  letter-spacing: 1.8px;
  font-style: normal;
}
.text-preset-7 {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.4px;
}
.text-preset-8 {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 2px;
}
.text-preset-9 {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0px;
}
.text-preset-10 {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: 1px;
}
.text-preset-11 {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: 1px;
}
body {
  background-color: var(--neutral100);
}
p {
  margin: 0;
}
.top-title {
  display: flex;
  align-items: center;
}
.top-title img {
  width: auto;
  height: 42px;
}
.sidebar {
  padding: 16px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: -310px; /* Hide off-screen */
  width: 310px;
  height: 100%;
  background-color: var(--neutral100);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}
.sidebar-top {
  height: 59px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: var(--neutral400) solid 1px;
}
/* Sidebar active/open state */
.sidebar.open {
  transform: translateX(310px);
}
#close-btn,
#menu-btn {
  width: 32px;
  height: 32px;
}
/* Dark overlay background */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 999;
}

.overlay.active {
  visibility: visible;
  opacity: 1;
}

.custom-button {
  /* 1. Reset default browser styles */
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  outline: none;

  /* 2. Visual appearance */
  background-color: var(--neutral100); /* Primary blue color */
  height: 20px;
  width: 20px;
  border: var(--neutral400) 1px solid;
  border-radius: 4px; /* Slightly rounded corners */
  cursor: pointer; /* Changes cursor to a hand tool */
}
/* Focus State (Keyboard navigation/Accessibility) */
.custom-button:focus-visible {
  outline: 3px solid #80bdff; /* Clear focus ring for accessibility */
}
.menu-body {
  margin: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 288px;
  padding-right: 10px;
}
.pill {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.pill a {
  text-decoration: none;
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0px;
  color: var(--neutral900);
}
.menu-stay {
  background-color: var(--neutral0);
  display: flex;
  justify-content: space-between;
}
.stay-badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  width: 16px;
  background-color: var(--teracotta600);
  color: var(--neutral100);
  border-radius: 50%;
}
.stay-title::before {
  content: ""; /* Required for the pseudo-element to render */
  display: inline-block; /* Allows setting width and height */
  flex-shrink: 0; /* Keeps the icon from shrinking next to the text */
  width: 20px;
  height: 20px;
  margin-right: 5px; /* Adds space between the icon and text */
  background-image: url("../img/icon-bed.svg");
  background-size: contain; /* Ensures the icon fits the box scales */
  background-repeat: no-repeat;
  vertical-align: middle; /* Aligns it vertically with adjacent text */
}
.house-title::before {
  content: ""; /* Required for the pseudo-element to render */
  display: inline-block; /* Allows setting width and height */
  flex-shrink: 0; /* Keeps the icon from shrinking next to the text */
  width: 20px;
  height: 20px;
  margin-right: 5px; /* Adds space between the icon and text */
  background-image: url("../img/icon-house.svg");
  background-size: contain; /* Ensures the icon fits the box scales */
  background-repeat: no-repeat;
  vertical-align: middle; /* Aligns it vertically with adjacent text */
}
.town-title::before {
  content: ""; /* Required for the pseudo-element to render */
  display: inline-block; /* Allows setting width and height */
  flex-shrink: 0; /* Keeps the icon from shrinking next to the text */
  width: 20px;
  height: 20px;
  margin-right: 5px; /* Adds space between the icon and text */
  background-image: url("../img/icon-pin.svg");
  background-size: contain; /* Ensures the icon fits the box scales */
  background-repeat: no-repeat;
  vertical-align: middle; /* Aligns it vertically with adjacent text */
}
.breakfast-title::before {
  content: ""; /* Required for the pseudo-element to render */
  display: inline-block; /* Allows setting width and height */
  flex-shrink: 0; /* Keeps the icon from shrinking next to the text */
  width: 20px;
  height: 20px;
  margin-right: 5px; /* Adds space between the icon and text */
  background-image: url("../img/icon-breakfast-outline.svg");
  background-size: contain; /* Ensures the icon fits the box scales */
  background-repeat: no-repeat;
  vertical-align: middle; /* Aligns it vertically with adjacent text */
}
.messages-title::before {
  content: ""; /* Required for the pseudo-element to render */
  display: inline-block; /* Allows setting width and height */
  flex-shrink: 0; /* Keeps the icon from shrinking next to the text */
  width: 20px;
  height: 20px;
  margin-right: 5px; /* Adds space between the icon and text */
  background-image: url("../img/icon-mail.svg");
  background-size: contain; /* Ensures the icon fits the box scales */
  background-repeat: no-repeat;
  vertical-align: middle;
}
.weather-pill {
  background-color: var(--sun300);
  height: 102px;
  border-radius: 16px;
  display: flex;
  overflow: hidden;
  margin-top: auto;
  margin-bottom: 16px;
}
.weather-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 12px 16px;
}
.sun-image {
  transform: translateX(50px) translateY(-25px);
}
.weather-text span:nth-child(1) {
  color: var(--neutral700);
  text-transform: uppercase;
}
.weather-text span:nth-child(2) {
  color: var(--neutral900);
}
.weather-text span:nth-child(3) {
  color: var(--neutral700);
}
.menu-footer {
  border-top: var(--neutral400) 1px dotted;
}
.menu-footer p {
  margin: 0;
  padding: 10px 0;
  color: var(--neutral600);
  text-transform: uppercase;
  font-size: 12px;
}
.menu-footer p:nth-child(2) {
  padding: 0px;
}
.menu-footer p:last-child {
  padding: 0px;
}
.main-wrapper {
  padding: 16px;
}
header p {
  margin: 0;
}
header p:nth-child(1) {
  margin-top: 16px;
  color: var(--neutral600);
  text-transform: uppercase;
}
header p:nth-child(2) {
  padding-bottom: 16px;
}
.lucia-text {
  color: var(--teracotta600);
  font-style: italic;
}
.main-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}
header .custom-button {
  background-color: tomato; /* Primary blue color */
  height: 20px;
  width: 153.5px;
  height: 37px;
  border: var(--neutral400) 1px solid;
  border-radius: 30px; /* Slightly rounded corners */
  cursor: pointer; /* Changes cursor to a hand tool */
}
header .custom-button:first-child {
  background-color: var(--neutral100);
  color: var(--neutral900);
  border: 1px var(--neutral400) solid;
}
header .custom-button:last-child {
  background-color: var(--neutral900);
  color: var(--neutral400);
  border: 1px var(--neutral400) solid;
}
.booking-cards {
  height: 863px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.host-card {
  width: 327px;
  height: 420px;
  background-image: radial-gradient(
    var(--teracotta400),
    var(--teracotta500),
    var(--teracotta700)
  );
  border-radius: 20px;
  box-shadow:
    0px 10px 40px rgba(194, 90, 46, 35%),
    0px 50px 80px rgba(169, 66, 31, 25%) inset;
  box-shadow: 0px 0px 1 rgba(255, 244, 220) inset;
  transform: rotate(2deg);
}
.host-wrapper,
.reciept-wrapper {
  padding: 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.host-title {
  height: 65px;
  border-top: dashed 1px var(--teracotta400);
  color: var(--sun50);
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}
.host-title p {
  margin-top: 15px;
}
.host-title img {
  width: 49px;
  height: 49px;
  align-self: flex-end;
}
.host-middle p,
.host-footer {
  color: var(--sun50);
}
.host-middle p:first-child {
  margin-bottom: 10px;
  color: var(--sun200);
}
.host-text {
  margin-top: 25px;
  font-weight: 400;
}
.host-footer {
  flex: 1;
  align-content: flex-end;
}
.receipt-card {
  background-color: var(--neutral0);
  background-image: none;
  box-shadow: none;
  transform: rotate(-2deg) translateY(-10px);
  box-shadow:
    0px 1px 0px rgba(0, 0, 0, 3%),
    0px 16px 30px -20px rgba(62, 44, 30, 35%),
    0px 20px 40px -30px rgba(62, 44, 30, 16%);
}
.h-card {
  z-index: 10;
}
.receipt-title {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: var(--neutral600);
  border-bottom: 1px var(--neutral400) dashed;
}
.receipt-title:first-child {
  text-transform: uppercase;
}
.receipt-title p {
  color: var(--neutral900);
  text-transform: none;
  font-weight: 400;
  padding-bottom: 6px;
}
.wtf {
  justify-items: flex-end;
  flex-basis: 100%;
  text-align: right;
}
.check-section,
.items-list {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: dotted var(--neutral400) 1px;
  padding-bottom: 20px;
}
.items-list {
  flex-direction: column;
  height: 88px;
  border-bottom: solid var(--neutral600) 1px;
  color: var((--neutral900));
}
.check-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.check {
  text-transform: uppercase;
}
.check,
.check-date {
  color: var(--neutral700);
}
.check-boom {
  margin: 8px 0px;
  color: var(--neutral900);
}
.items-list p {
  display: flex;
  justify-content: space-between;
}
.items-list p span {
  font-weight: 400;
}
.reciept-total {
  padding: 16px 0px;
  display: flex;
  justify-content: space-between;
}
.reciept-total span:first-child {
  text-transform: uppercase;
}
.reciept-paid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reciept-paid span {
  text-transform: uppercase;
}
.guest-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}
.guest-card {
  width: 343px;
  border-radius: 16px;
  margin: 9px 0;
  height: 232px;
  background-color: var(--neutral50);
  border: 1px solid var(--neutral400);
  box-shadow:
    0 1px 0px 0px rgba(0, 0, 0, 2%),
    0 1px 1px 0px rgba(62, 44, 30, 4%),
    0 18px 40px -28px rgba(62, 44, 30, 25%);
}
.guest-wrapper {
  margin: 20px 16px;
}
.arrival-row {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}
.arr-row {
  color: var(--teracotta600);
}
.wifi-row {
  color: var(--blue500);
}
.break-row {
  color: var(--rose500);
}
.arrival-title::before {
  content: ""; /* Required for the pseudo-element to render */
  display: inline-block; /* Allows setting width and height */
  flex-shrink: 0; /* Keeps the icon from shrinking next to the text */
  width: 40px;
  height: 40px;
  border-radius: 8px;
  margin-right: 10px; /* Adds space between the icon and text */
  background-image: url("../img/icon-key.svg");
  background-size: 24px;

  background-position: center;
  background-color: var(--teracotta600);
  /* background-size: contain; Ensures the icon fits the box scales */
  background-repeat: no-repeat;
  vertical-align: middle; /* Aligns it vertically with adjacent text */
}
.break-title::before {
  content: ""; /* Required for the pseudo-element to render */
  display: inline-block; /* Allows setting width and height */
  flex-shrink: 0; /* Keeps the icon from shrinking next to the text */
  width: 40px;
  height: 40px;
  border-radius: 8px;
  margin-right: 10px; /* Adds space between the icon and text */
  background-image: url("../img/icon-breakfast.svg");
  background-color: var(--rose500);
  background-size: 24px;
  background-position: center; /* Ensures the icon fits the box scales */
  background-repeat: no-repeat;
  vertical-align: middle; /* Aligns it vertically with adjacent text */
}
.wifi-title::before {
  content: ""; /* Required for the pseudo-element to render */
  display: inline-block; /* Allows setting width and height */
  flex-shrink: 0; /* Keeps the icon from shrinking next to the text */
  width: 40px;
  height: 40px;
  border-radius: 8px;
  margin-right: 10px; /* Adds space between the icon and text */
  background-image: url("../img/icon-wifi.svg");
  background-size: 24px;

  background-position: center;
  background-color: var(--blue500);
  /* background-size: contain; Ensures the icon fits the box scales */
  background-repeat: no-repeat;
  vertical-align: middle; /* Aligns it vertically with adjacent text */
}
.guest-title {
  margin: 10px 0px;
  color: var(--neutral900);
}
.guest-subtitle {
  margin: 10px 0px;
  color: var(--neutral900);
}
.guest-text {
  color: var(--neutral900);
  font-weight: 300;
}
.network-pill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0px;
  height: 32px;
  padding: 0px 10px;
  background-color: var(--neutral200);
  border-radius: 8px;
}
.net-upper {
  text-transform: uppercase;
}
.copy-btn {
  /* 2. Visual appearance */
  background-color: var(--neutral200); /* Primary blue color */
  display: inline-flex;
  height: 20px;
  width: 43px;
  border: var(--neutral400) 1px solid;
  border-radius: 20px; /* Slightly rounded corners */
  cursor: pointer; /* Changes cursor to a hand tool */
  text-transform: uppercase;
}
/* Focus State (Keyboard navigation/Accessibility) */
.custom-button:focus-visible {
  outline: 3px solid #80bdff; /* Clear focus ring for accessibility */
}
@media screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-buttons {
    margin: 0;
  }
  .main-buttons button {
    margin-right: 20px;
  }
  .booking-cards {
    flex-direction: row;
    justify-content: center;
  }
  .h-card {
    transform: translate(325px) rotate(4deg);
  }
  .receipt-card {
    transform: translate(-325px) rotate(-4deg);
  }
  .booking-cards {
    height: auto;
  }
  .main-wrapper {
    display: flex;
    flex-direction: column;
  }
  .guest-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  .guest-card {
    width: auto;
  }
  .sidebar {
    left: -384px;
    width: 384px;
  }
  .sidebar.open {
    transform: translateX(384px);
  }
  .menu-body {
    width: 336px;
  }
}
@media screen and (min-width: 1025px) {
  body {
    display: flex;
  }
  .sidebar {
    position: static;
    width: 260px;
    box-shadow: none;
    border-right: 1px solid var(--neutral400);
  }
  .overlay {
    position: static;
    visibility: visible;
    opacity: 1;
    background: none;
  }
  .menu-body {
    width: 228px;
  }
  .custom-button {
    display: none;
  }
  .page-top {
    display: none;
  }
}
